@import url("https://fonts.googleapis.com/css2?family=Montserrat+Alternates:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

@import "tailwindcss";

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --bg-smooth: #111111;
  --bg-smooth-light: #333333;
  --bg-smooth-ce: #111111ce;
  --bg-card: #353535;

  --bg-default: #2c2c2c;
  --bg-section: #202020;
  --bg-component: #464646;

  --fg-default: #eeeeee;

  --fg-text: var(--fg-default);
  --fg-mini-text: #b3b3b3;
  --fg-mini-text-30: #b3b3b330;
  --fg-card: #4d4d4d90;
  --fg-component: #272727;

  --fs-h1: 32px;
  --fs-h2: 24px;
  --fs-h3: 20px;
  --fs-h4: 18px;
  --fs-h5: 16px;
  --fs-base: 14px;
  --fs-mini: 12px;
}

@layer base {
  .text-base {
    font-size: var(--fs-base);
    color: var(--fg-default);
  }

  .text-mini {
    font-size: var(--fs-mini);
    color: var(--fg-mini-text);
  }
}

body {
  font-family: "Montserrat Alternates", sans-serif;
  font-weight: 400;
  font-style: normal;

  font-size: var(--fs-base);
  background-color: var(--bg-default);
  color: var(--fg-text);

  height: 100vh;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: "Montserrat Alternates", sans-serif;
}

h1 {
  font-size: var(--fs-h1);
}

h2 {
  font-size: var(--fs-h2);
}

h3 {
  font-size: var(--fs-h3);
}

h4 {
  font-size: var(--fs-h4);
}

h5 {
  font-size: var(--fs-h5);
}

a {
  text-decoration: underline;
}
